name: Build jupyter-voice-recognition
on:
  push:
    branches:
      - 'main'
    paths:
      - "*"
      - "!workflows/**"
      - "!README.md"
      - "!build.rb"
  schedule:
    - cron: "0 0 * * 1"
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - base: jupyter/tensorflow-notebook:latest
            tag: latest

    steps:
      -
        name: Checkout 
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./tensorflow-pyodbc/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/jupyter-voice-recognition:${{ matrix.tag }}
          build-args: |
            IMAGE=${{ matrix.base }}
